body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#544577ba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #879aa3;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #300674;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{
    text-align: center;
    width: 300px;     
    float: left;
    padding: 10px;
    text-decoration: none;
    background: #0fa4b8;
    border-radius: 25px;
    text-transform: uppercase;  
    color: rgb(155, 19, 48);
}  
